extends base

block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css', rel='stylesheet')

block content
    include components/_tourTemplate

block bottom
    script(src='/js/mapbox.js')