.js--wp-1{ opacity: 0; }

.js--wp-1.animated{ opacity: 1; }

/* */

.js--wp-2{ opacity: 0; }

.js--wp-2.animated{ opacity: 1; }

/* */

.js--wp-3{ opacity: 0; }

.js--wp-3.animated{ opacity: 1; }

/* */

.mobile-nav{ opacity: 0; }

.mobile-nav.animated{ opacity: 1; }